<h1>Create a Post</h1><br>
<div class="post-input-container">
    <form class="post-box">
        <label for="post-title">Title:</label>
        <input type="input" id="post-title-input" name="comment-title"> <br> <br>
        <label for="post">Post:</label>
        <textarea id="post-input" name="post"></textarea>
        <input id="post-submit" type="submit">
    </form>
</div>

{{#if posts}}
<h1>Your Posts</h1>
<div class="post-container-large">
{{#each posts}}
<div class="post-container-outer">
    <div class="post-container">
        <h1 class="post-card-title" id="post-card-title">{{title}}</h1>
        <button class="delete-button" data-id="{{id}}">delete</button>

        <p class="post-card-data">posted on {{format_date date_created}}</p>
        <p class="post-card-body">{{bodyContent}}
        </p>

    </div>
</div>
{{/each}}
</div>
{{/if}}

<script src="/script/profile.js"></script>
